* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  font-size: 10px;
  background-color: #f0f0f0;
  scroll-behavior: smooth;
}

body {
  max-width: 1260px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffff;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 10px #079420 solid;
  position: fixed;
  width: 100%;
  max-width: 1260px;
  top: 0;
  background-color: #ffff;
  z-index: 10;
}

.header__logo-and-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 10px #079420 solid;
}

.header__logo-and-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 0 0 1.5rem;
}

.header__logo {
  max-width: 150px;
  margin-right: 0.5rem;
}

.header__logo img {
  width: 100%;
}

.header__title {
  font-size: 1.9rem;
  margin-top: -5.5rem;
  font-family: "Merriweather";
  color: #333333;
  line-height: 1.4rem;
}

.header__slogan {
  font-size: 1.7rem;
  margin-top: 1rem;
  font-family: "Arial";
  color: #079420;
  line-height: 1.4rem;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.4rem;
  font-family: "Merriweather";
  position: relative;
}

.header__link {
  display: inline-block;
  margin: 2.6rem;
}

.header__link:first-child::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin: -0.5rem 0 0 -2.5rem;
}

.header__link:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../img/clock.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin: -0.5rem 0 0 -2.5rem;
}

.header__link:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url("../img/mail.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin: -0.5rem 0 0 -2.8rem;
}

.header__link:last-child::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../img/place.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin: -0.5rem 0 0 -2rem;
}

.header__link-time {
  margin-bottom: 0.5rem;
}

.nav {
  font-size: 1.4rem;
  font-family: "Merriweather";
  font-weight: 900;
  text-transform: uppercase;
  color: #333333;
  margin: 0 0 0 0.6rem;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  margin: 0.2rem 0;
}

.nav__link {
  border-right: 2px #ffff solid;
  background-color: #079420;
}

.nav__link:last-child {
  border: none;
}

.nav__link:hover {
  background-color: rgba(7, 148, 32, 0.6);
}

.nav__link a {
  color: #ffff;
  display: inline-block;
  padding: 4.5rem 2rem;
  line-height: 2.5rem;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Merriweather";
  text-align: justify;
  font-size: 1.4rem;
  line-height: 2rem;
  background-color: #ffff;
  padding: 22rem 0 0 0;
}

.news {
  max-width: 500px;
  max-height: 530px;
  border: 3px #079420 solid;
  padding: 1.5rem 1.5rem 1.5rem 2rem;
  margin: 2rem 2rem 0 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #333333;
}

.news__title {
  background-color: #079420;
  text-align: center;
  margin: 0 0 2rem 0;
  padding: 1.5rem;
  font-size: 1.6rem;
}

.news__title h1 {
  text-transform: uppercase;
  color: #ffff;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.news__text {
  text-indent: 2rem;
}

.news__text_bold {
  font-weight: 900;
}

.news__link {
  list-style-type: disc;
  text-indent: 3rem;
}

.news__mail-link {
  color: #079420;
  text-decoration: underline;
}

.news__phone {
  font-weight: 900;
  color: #079420;
}

.news__text-link {
  color: #079420;
  text-decoration: underline;
}

.news-info {
  max-width: 500px;
  max-height: 360px;
  border: 3px #079420 solid;
  padding: 1.5rem 1.5rem 1.5rem 2rem;
  margin: 2rem 2rem 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
}

.news-info__item {
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  padding: 0.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.news-info__item:last-child {
  border: none;
}

.news-info__title {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #079420;
  text-align: center;
  margin: 0 0 2rem 0;
  padding: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
}

.news-info__title a {
  color: #ffff;
}

.news-info__title a:hover {
  text-decoration: underline;
}

.news-info__title h1 {
  font-weight: 700;
}

.news-info__text {
  color: #333333;
  font-weight: 900;
  text-align: left;
}

.news-info__date {
  color: grey;
  margin: 0.5rem 0 0 0;
}

.news-info::-webkit-scrollbar {
  width: 15px;
}

.news-info::-webkit-scrollbar-track {
  background-color: #ffff;
}

.news-info::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: rgba(7, 148, 32, 0.4);
  border: 3px solid white;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #ffff;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: rgba(51, 51, 51, 0.4);
  border: 3px solid white;
}

.slider {
  max-width: 700px;
  margin: 2rem 2rem 0 0;
  background-color: #333333;
  position: relative;
}

.slider__img {
  max-width: 550px;
  margin: 7rem;
}

.slider__img img {
  width: 100%;
}

.slider__nav #prev {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 2.5rem;
  border: 2px #f0f0f0 solid;
  background-color: rgba(46, 19, 19, 0);
  margin: -2rem 0 2rem 8rem;
}

.slider__nav #next {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 2.5rem;
  border: 2px #f0f0f0 solid;
  background-color: rgba(0, 0, 0, 0);
  margin: -2rem 0 2rem 44rem;
}

.slider__nav a:hover #prev {
  border-color: #079420;
  color: #079420;
}

.slider__nav a:hover #prev span {
  background-color: #079420;
}

.slider__nav a:hover #next {
  border-color: #079420;
  color: #079420;
}

.slider__nav a:hover #next span {
  background-color: #079420;
}

.slider__prev-arrow {
  display: block;
  width: 4px;
  height: 20px;
  border-radius: 2px;
  background-color: #f0f0f0;
}

.slider__prev-arrow_top {
  -webkit-transform: translate(18px, 6px) rotate(40deg);
          transform: translate(18px, 6px) rotate(40deg);
}

.slider__prev-arrow_bottom {
  -webkit-transform: translate(18px, -1px) rotate(-40deg);
          transform: translate(18px, -1px) rotate(-40deg);
}

.slider__next-arrow {
  display: block;
  width: 4px;
  height: 20px;
  border-radius: 2px;
  background-color: #f0f0f0;
}

.slider__next-arrow_top {
  -webkit-transform: translate(22px, 6px) rotate(-40deg);
          transform: translate(22px, 6px) rotate(-40deg);
}

.slider__next-arrow_bottom {
  -webkit-transform: translate(22px, 0) rotate(40deg);
          transform: translate(22px, 0) rotate(40deg);
}

.slider__info-for-img {
  font-family: "Merriweather";
  font-size: 1.6rem;
  line-height: 2.5rem;
  text-align: left;
}

.slider__info-for-img img {
  padding: 0 0 1.5rem 0;
}

.slider__info-for-img a {
  color: #ffff;
}

.slider__info-for-img h1 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 4rem;
  margin: 0.5rem 0 0 0;
  letter-spacing: 0.1rem;
}

.slider__info-for-img p {
  color: #b4b1b1;
  margin: 1rem 0 0 0;
}

.slider__info-for-img_img02 p:last-child {
  font-size: 1.8rem;
  font-weight: 700;
}

.slider__info-for-img_img02 span {
  font-size: 1.6rem;
  font-weight: 700;
}

.slider__info-for-img_img03 h2, .slider__info-for-img_img04 h2, .slider__info-for-img_img05 h2 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #83bb28;
  margin: 0.5rem 0 2rem 0;
}

.slider__info-for-img_img03 span, .slider__info-for-img_img04 span, .slider__info-for-img_img05 span {
  font-size: 1.6rem;
  font-weight: 700;
}

.slider__info-for-img_img05 ol {
  color: #b4b1b1;
}

.slider__info-for-img_img05 ol li {
  margin: 0 0 0 1.5rem;
}

.slider__info-for-img_img05 ol li:first-child {
  margin-top: 1rem;
}

#pager {
  width: 100%;
  height: 25px;
  text-align: center;
  margin: -4rem 0 1rem 0;
}

#pager a {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0.1rem;
  background-color: #ffff;
  margin: 1rem;
  font-size: 0;
}

#pager a.activeSlide {
  background: #079420;
}

.services {
  margin: 6rem 7rem 0 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.services__title {
  width: 100%;
  background-color: #079420;
  text-align: center;
  padding: 1.5rem;
  font-size: 1.6rem;
}

.services__title h1 {
  text-transform: uppercase;
  color: #ffff;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.service-card {
  max-width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin: 1rem;
  text-align: left;
  padding: 1rem;
  border: 2px solid rgba(7, 148, 32, 0.3);
}

.service-card__img img {
  width: 100%;
}

.service-card__title {
  display: block;
  font-family: "Merriweather";
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 2rem 0;
  color: #079420;
}

.service-card__title h1 {
  font-weight: 900;
}

.service-card__title:hover {
  text-decoration: underline;
}

.service-card__text {
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: #474747;
  font-family: "Arial";
}

.service-card__list {
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: #474747;
  font-family: "Arial";
}

.service-card__link {
  list-style-type: disc;
  margin: 0 0 0 2rem;
}

.request {
  padding: 5rem;
}

.request__title {
  width: 100%;
  background-color: #079420;
  text-align: center;
  padding: 1.5rem;
  margin: 0 0 2rem 0;
  font-size: 1.6rem;
}

.request__title h1 {
  text-transform: uppercase;
  color: #ffff;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.request-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #079420;
  padding: 2rem 0;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.request-card {
  margin: 0 2rem;
  max-width: 190px;
}

.request-card__img {
  width: 100%;
}

.request-card__title {
  display: block;
  font-family: "Arial";
  font-size: 1.6rem;
  color: #ffff;
  text-align: left;
  margin: 1rem 0;
}

.request-card__title h1 {
  font-weight: 700;
}

.request-card__title:hover {
  text-decoration: underline;
}

.branches {
  margin: 0 7rem 4rem 7rem;
  width: 100%;
}

.branches__title {
  width: 100%;
  background-color: #079420;
  text-align: center;
  padding: 1.5rem;
  margin: 0 0 4rem 0;
  font-size: 1.6rem;
}

.branches__title h1 {
  text-transform: uppercase;
  color: #ffff;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.branches__column {
  margin: 0 0 0 3rem;
}

.branches__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.branches__column-title {
  font-family: "Merriweather";
  font-size: 1.8rem;
  color: #333333;
  font-weight: 900;
  display: block;
  margin: 0 0 1rem 0;
}

.branches__list {
  font-family: "Merriweather";
  font-size: 1.6rem;
  color: #333333;
  margin: 2.5rem 0 0 0;
}

.branches__list-item {
  list-style: disc;
  margin: 1rem;
}

.branches__list-item a {
  color: #079420;
  text-decoration: underline;
}

.branches__list-item a:hover {
  text-decoration: none;
}

.info-organization {
  margin: 0 8rem;
}

.info-organization__title {
  width: 100%;
  background-color: #079420;
  text-align: center;
  padding: 1.5rem;
  margin: 0 0 4rem 0;
  text-transform: uppercase;
  color: #ffff;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

.info-organization__block-title {
  font-size: 2rem;
  color: #079420;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.1rem;
  display: block;
  margin: 2rem 0;
}

.info-organization__text {
  font-size: 1.6rem;
  font-family: "Merriweather";
  line-height: 2.5rem;
  color: #333333;
  text-align: left;
}

.info-organization__text_bold {
  font-weight: 900;
}

.info-organization__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info-organization__block {
  max-width: 500px;
}

.info-organization__list {
  font-size: 1.6rem;
  font-family: "Merriweather";
  line-height: 2.5rem;
  color: #333333;
  margin: 0 0 2rem 2rem;
}

.info-organization__list-item {
  list-style: disc;
}

.info-organization__link {
  display: block;
  text-align: center;
  margin: 2.5rem 0 0 0;
}

.contacts {
  margin: 4rem 8rem;
}

.contacts_title {
  width: 100%;
  background-color: #079420;
  text-align: center;
  padding: 1.5rem;
  margin: 0 0 4rem 0;
  text-transform: uppercase;
  color: #ffff;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

.contacts__text {
  font-size: 1.6rem;
  font-family: "Merriweather";
  line-height: 2.5rem;
  color: #333333;
  text-align: left;
}

.contacts__text_bold {
  font-weight: 900;
}

.contacts__text a {
  color: #079420;
  text-decoration: underline;
}

.contacts__text a:hover {
  text-decoration: none;
}

.contacts__block-title {
  font-size: 2rem;
  color: #079420;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.1rem;
  display: block;
  margin: 2rem 0;
}

.contacts__info p {
  line-height: 3.5rem;
}

.contacts__phones {
  margin: 4rem 0 0 0;
}

.contacts__phones-list {
  margin: 0 0 0 2rem;
}

.contacts__phones-list-item {
  list-style: disc;
}

.contacts__hi {
  margin: 4rem 0 0 0;
}

.contacts__hi p {
  line-height: 3.5rem;
}

.contacts__requisites {
  margin: 4rem 0 0 0;
}

.contacts__requisites p {
  margin: 1rem 0;
}

.map {
  width: 100%;
  margin: 3rem 0;
}

.footer {
  border-top: 1px solid #079420;
  width: 100%;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  font-family: "Merriweather";
  color: grey;
  font-size: 1.2rem;
}

.footer__link {
  color: #079420;
}
